P{
	font-size:12px;
	font-family:"ƒƒCƒŠƒI",Meiryo,"ƒqƒ‰ƒMƒmŠpƒS Pro W3","Hiragino Kaku Gothic Pro","MS PGothic",sans-serif;
}

BIG{
	font-size:14px;
	font-family:"ƒƒCƒŠƒI",Meiryo,"ƒqƒ‰ƒMƒmŠpƒS Pro W3","Hiragino Kaku Gothic Pro","MS PGothic",sans-serif;
}

SMALL{
	font-size:11px;
	font-family:"ƒƒCƒŠƒI",Meiryo,"ƒqƒ‰ƒMƒmŠpƒS Pro W3","Hiragino Kaku Gothic Pro","MS PGothic",sans-serif;
}

A{
	text-decoration:none;
}

A:hover{
	color:	#660099;
}

TD{
	font-size:12px;
	font-family:"ƒƒCƒŠƒI",Meiryo,"ƒqƒ‰ƒMƒmŠpƒS Pro W3","Hiragino Kaku Gothic Pro","MS PGothic",sans-serif;
}

